/* Google fonts import */

/* Asteriks selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(131, 139, 100);
    text-align: center;
}

/* styling for instructionsPage popUp */
.instructionsPage {
    background-color: rgb(135,146,80);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.instructionsPage.open {
    opacity: 1;
    z-index: 999;
}

/* styling for playPage and Popup */
.playPage {
    background-color: rgb(135,146,80);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.playPage.open {
    opacity: 1;
    z-index: 999;
}

/* styling for scoreboard and popup */
.scoreboard {
    background-color: rgb(135,146,80);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard.open {
    opacity: 1;
    z-index: 999;
}