/* Google fonts import */

/* Asteriks selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(131, 139, 100);
    text-align: center;
}

/* styling for instructionsPage popUp */
.instructionsPage {
    background-color: rgb(135,146,80);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.instructionsPage.open {
    opacity: 1;
    z-index: 999;
}

/* styling for playPage and Popup */
.playPage {
    background-color: rgb(135,146,80);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.playPage.open {
    opacity: 1;
    z-index: 999;
}

/* styling for game status */
.game-status {
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    padding: 3px;
    text-align: center;
    position: absolute;
    top: 10%;
}

/* styling for memory game itself */
.memory-game {
    max-width: 1000px;
    max-height: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(142,167,47);
    border-radius: 0.3em;
}

.memory-grid-row {
    display: flex;
    flex-wrap: nowrap;
}

.memory-card {
    width: 225px;
    height: 225px;
    background: url(../images/background-image-card.webp) no-repeat center center/cover;
    border-radius: 0.3em;
    margin: 0.8em;
    cursor: pointer;
}

.memory-card-webp {
    visibility: hidden;
    object-fit: cover;
    width: 225px;
    height: 225px;
}

/* styling for JS */
.show-webp {
    visibility: visible;
    animation: animateShowImage 0.4s linear alternate;
}

.disabled {
    pointer-events: none;
}

/* styling for scoreboard and popup */
.scoreboard {
    background-color: rgb(135,146,80);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard.open {
    opacity: 1;
    z-index: 999;
}
